body{
    background: rgb(39, 41, 45);
    font-family:  "Roboto", sans-serif;
}
#welcome-page{
    display: block;
}

#forecast-page{
    display: none;
}
.hidden{
    display: none;
    background-color: rgb(29, 28, 28);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);

}
.start-button{
  margin-left: 20px;
  font-size: 15px;
  background-color: #141414;
  color: white;
  border: none;
  padding: 10px;
  line-height: 1;
  border-radius: 20px;

}
.start-button:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}


.a {
color :beige;
}

.weather-app {
  background:rgb(29, 28, 28);
  max-width: 900px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-city {
  background-color:rgb(207, 193, 193);
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 30px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #141414;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 30px;
}

main {
  padding: 30px 0;
}

.city-temperature {
  /*font-size: 48px;*/
  position: relative;
  display: flex;
  align-items: baseline;
  margin-top: 10px;
 }

 .current-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.weather-details {
  color:rgb(207, 193, 193);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
   
}

.weather-details strong {
  color: black;
}

.temperature-icon {
  position: absolute;
  right:120px;
  top: -90px;
  transform : scale(2.5);
}

.temperature-value {
  position: relative;
  font-size: 80px;
  font-weight: bold;
  left:40px;
}

.temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
  left:40px;
}

.weather-forecast ul{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  background: rgb(207, 193, 193);
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  transition: transform 0.3s ease;
}

.weather-forecast ul:hover{
  transform: scale(1.07);
}
.weather-forecast li {
  padding: 12px;
  text-align: center;
  border-right: 2px solid #ddd;
 
}

.weather-forecast li:last-child {
  border-right: none;
}

.weather-forecast .day {
  display: block;
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 2px solid #ddd;
  font-weight: 600;
}


footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: rgba(24, 23, 28, 0.4);
}
