body{
    background: rgb(39, 41, 45);
    font-family:  "Roboto", sans-serif;
}
#welcome-page{
    display: block;
}

#forecast-page{
    display: none;
}
.hidden{
    display: none;
    background-color: grey;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);

}
.start-button{
  margin-left: 20px;
  font-size: 15px;
  background-color: #141414;
  color: white;
  border: none;
  padding: 10px;
  line-height: 1;
  border-radius: 20px;

}
.start-button:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}


.a {
color :beige;
}

.weather-app {
  background: grey;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-city {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #141414;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.city-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.weather-details {
  color: rgba(13, 13, 14, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.weather-details strong {
  color: black;
}

.temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: rgba(24, 23, 28, 0.4);
}
