body{

background:linear-gradient(
180deg,
#82c7ff,
#4f8cff,
#3557d8
);

min-height:100vh;

font-family:'Roboto',sans-serif;

color:white;

}

.landing-page{

height:100vh;

background:url("images/mountain.jpg");

background-size:cover;

background-position:center;

}

.overlay{

height:100%;

background:rgba(0,0,0,.25);

display:flex;

justify-content:center;

align-items:center;

}

.search-home{

height:60px;

border-radius:30px;

border:none;

margin-top:40px;

}

.weather-card{

background:rgba(255,255,255,.15);

backdrop-filter:blur(25px);

padding:40px;

border-radius:35px;

box-shadow:0 15px 45px rgba(0,0,0,.25);

}

.search-city{

height:60px;

border-radius:30px;

border:none;

background:rgba(255,255,255,.8);

}
.display-1{

font-size:6rem;

}

.weather-app-icon{

width:120px;

}
.forecast-card{

background:rgba(255,255,255,.15);

border-radius:25px;

padding:25px;

backdrop-filter:blur(20px);

}

.weather-forecast ul{

display:grid;

grid-template-columns:repeat(7,1fr);

list-style:none;

padding:0;

margin:0;

gap:15px;

}

.weather-forecast li{

background:rgba(255,255,255,.12);

padding:20px;

border-radius:18px;

text-align:center;

transition:.3s;

}

.weather-forecast li:hover{

transform:translateY(-5px);

background:rgba(255,255,255,.25);

}

.btn-primary{

background:#4f8cff;

border:none;

border-radius:30px;

padding:15px 40px;

}

.btn-primary:hover{

background:#2d6bf3;

}

/*come back and fix this */
body.sunny{
    background: linear-gradient(180deg, #6ec6ff, #4f8cff, #3557d8);
}

body.cloudy{
    background: linear-gradient(180deg, #bfc8d4, #7b8794, #5f6b7a);
}

body.rain{
    background: linear-gradient(180deg, #23395d, #1b263b, #0d1b2a);
}